.header {
 
  background: linear-gradient(180deg, rgba(12, 12, 14, 1) 53%, rgba(12, 12, 14, 0.8) 75%, rgba(12, 12, 14, 0) 100%);
  color: #ffffff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 3;  
   width: 85%;
  max-width: 85%; 
  height: auto; 
  margin: 0 auto;
}

.logoImage {
  z-index: 2;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.nav {
  display: flex;
  gap: 1rem;
  margin-top: 2.5rem;
  
}

.navLeft {
  margin-right: auto; /* Push to the left */
  margin-left: 5rem;
  gap: 6rem;
}

.navRight {
  margin-left: auto; /* Push to the right */
  margin-right: 5rem;
  gap: 6rem;
}

.nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
  position: relative; /* Needed for absolute positioning of pseudo-element */
}

.nav a:hover {
  background-color: #555;
  border-radius: 4px;
}
